@font-face {
    font-family: font;
    src: url(./images/Norse-Bold.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    padding: 0;
    margin: 0;
 }

label {
    size: 32;
    font-family: "Nova Mono", monospace;
    font-weight: bold;
}

input {
    border: 1px #E5E7EB solid;
    height: 30px;
    font-family: "Nova Mono", monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

input:invalid {
    border: 3px red solid;
    border-radius: 4px;
}

input:focus {
    border: 3px blue solid;
}
.container {
    display:flex;
    background-color: rgb(240, 230, 202);
}

.left-image {
    background-color: rgb(240, 230, 202);
    min-width:35%;
    height: 100vh;
    color: red;
}

.image {
    min-width:35%;
    position: absolute;
    height: 100vh; 
}

.odin-logo {
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 20vh;
}

.logo-field {
    opacity: 0.6;
    background-color: black;
    position: absolute;
    min-width:35%;
    height: 10vh;
    top: 30vh;
    font-family: font;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.content {
    display:flex;
    flex-direction: column;
}

.header {
    font-family: "Nova Mono", monospace;
    font-size: 24px;
    background-color: rgb(240, 230, 202);
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.form-content {
    height: 40vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    border: 1px black solid;
    border-radius: 48px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.form-block {
    display:flex;
    gap: 20vh;
    justify-content: center;
}
.form-header {
    font-family: "Nova Mono", monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.form-input {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.footer {
    background-color: rgb(240, 230, 202);
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 20vh;
    padding-top: 2vh;
    display:flex;
    flex-direction:column;
    gap: 1vh;
    font-family: "Nova Mono", monospace;
    align-items: center;
    font-weight: bold;
}

.account-button {
    width:200px;
    height: 50px;
    border-radius: 16px;
    background-color: #596D48;
    border: 0px;
    font-weight: bold;
}