@font-face {
    font-family: font;
    src: url(./images/Norse-Bold.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    padding: 0;
    margin: 0;
 }

label {
    size: 32;
    font-family: "Nova Mono", monospace;
    font-weight: bold;
}
.container {
    display:flex;
    background-color: rgb(240, 230, 202);
}

.left-image {
    background-color: red;
    min-width:35%;
    height: 100vh;
}

.image {
    
}

.logo-field {

}

.content {
    display:flex;
    flex-direction: column;
}

.header {
    font-family: "Nova Mono", monospace;
    font-size: 24px;
    background-color: rgb(240, 230, 202);
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 20vh;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.form-content {
    height: 40vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    border: 1px black solid;
    border-radius: 48px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.form-block {
    display:flex;
    gap: 20vh;
    justify-content: center;
}
.form-header {
    font-family: "Nova Mono", monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.form-input {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.footer {
    background-color: rgb(240, 230, 202);
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 20vh;
    padding-top: 2vh;
    display:flex;
    flex-direction:column;
    gap: 1vh;
    font-family: "Nova Mono", monospace;
}

.account-button {
    width:200px;
    height: 50px;
    border-radius: 16px;

}